.container{
  display: grid;
  align-content: space-between;
  grid-template-columns: 10% 50% 10%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
  "header . logo"
  ". main ."
  ". footer ."
}

.menu{
  grid-area: header;
  padding: 10px;
}

.main{
  grid-area: main;
  padding: 10px;
  text-align: center;
}

.logo{
    grid-area: logo;
    padding: 10px;
  }
