.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat 1fr;
  /* place-items: center; */
  gap: 30px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: space-evenly;
  /* align-content: center; */
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  display: inline-block;
  position: relative;
  text-align: ;
  width: 191px;
  height: 220px;
  padding: 10px 10px 10px 10px;
  transition: 0.6s ease-in-out;
  /* background-color: grey; */
}

.item .title {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;

  display: block;
  margin-top: 0px;
  padding: 0;
  border-collapse: collapse;
}

#left{text-align:left;}
#right{text-align: right; font-weight: 500;}

.item table{
  width: 100%;
  table-layout: fixed;
}

td{
  word-wrap: break-word;
  vertical-align: middle;
}

td:nth-child(1){
  width: 80%
}
td:nth-child(2){
  width: 20%;
}

.img-container {
  display: inline-block;
  width: 191px;
  height: 191px;
  /* position: absolute;
  left: 0%;
  right: 0; */
  /* margin-bottom: 25px; */
  margin: 0;
  padding: 0;
  /* background-color: yellow; */
}

.img-box {
  width: 181px;
  height: 181px;
  display: block; /*inline-block allows to center image within div*/
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  transition: .3s ease-in-out;
  /* background-color: yellow; */
  /* box-shadow: ; */
  margin: 0;
  padding: 0;
}

.img-box > img {
  /* display: block; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.img-box:hover {
  width: 191px;
  height: 191px;
}
