body{
  background-image: url("/assets/images/Grandpas Groove snapshot.jpg");
}

a{
  color:white;
}

.social{
  width: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "header . ."
  ". logo ."
  ". sub-line ."
  ". footer .";
  gap: 0px 10px;
}

.place-menu {
  grid-area: header;
  padding: 10px;
}

.place-logo {
  grid-area: logo;
  width: 60%;
  padding: 5px;
}

.place-sub-line{
  grid-area: sub-line;
  padding: 5px;
}

.place-footer {
  grid-area: footer;
  padding: 10px;
}
