body{
  background-image: url("/assets/images/Granpas groove snapshot2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10% auto auto 10%;
  grid-template-areas:
  "header . ."
  ". logo ."
  ". sub-line ."
  ". footer .";
  gap: 10px 10px;
}

.place-menu {
  grid-area: header;
  padding: 10px;
}

.place-logo {
  grid-area: logo;
  width: 60%;
  padding: 5px;
}

.place-sub-line{
  grid-area: sub-line;
  padding: 5px;
}

.place-footer {
  grid-area: footer;
  align-self: end;
  padding: 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-kerning: normal;
  color: white;
}

.social{
  width: 20px;
}
