body {
	font-family: 'Raleway', sans-serif;
	padding: 5px;
	/* background-color: red; */
}

.page-style{
	/*standard page layout*/
  display: grid;
  align-content: space-evenly; /*space-between*/
  grid-template-columns:
	100%;
	/* background-color: grey; */
	grid-template-rows:
	3fr
	1fr;

  grid-template-areas:
  "main"
  "footer";
}

a.nav {
  color:black;
  text-decoration: none;
  text-transform:uppercase;
  padding-left: 5px;
  padding-right: 5px;
}

.main {
		/*main content layout*/
	  grid-area: main;
	  display: grid;
		/* align-content: top; */
		/* align-items: center; */
	  justify-self: center;
		/* background-color: green; */
	}

	.place-footer {
		display: inline-block;
	  grid-area: footer;
	  align-self: end;
	  justify-self: center;
		/* align-items: center; */
	  padding-bottom: 0px;
		margin-bottom: 0;
	  /* background: white; */
	}

	.place-footer a {
		/* align-self: center; */
		padding-left: 5px;
	  padding-right: 5px;
		/* align-self: end; */
	}

	.social{
		display: inline-block;
		align-self: center;
	  width: 15px;
		height: auto;
	}

/* .wrapper {
	max-width: 500px;
} */

ul{
text-align: left;
line-height: 1rem;
margin-top: 0rem;
margin-left: 3rem;
margin-bottom: 0rem;
}

@media only screen and (max-width: 750px) {
	ul{
		font-size: 12px;
		line-height: normal;
		letter-spacing: .4px;
		margin-left: 0;
	}
}

h1{
	font-size: 65px;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	letter-spacing: 2rem;
	margin-bottom: 2rem;
	margin-top: 0;
	padding-top: 0;
	/* background-color: yellow; */
}


@media only screen and (max-width: 750px) {
	h1{
		text-align: center;
		font-size: 25px;
		letter-spacing: 1rem;
		/* margin-top: 0px; */
	}
}

h2 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-bottom: 3rem;
	margin-top: 10px;
}

h3{
	/*stylnig of sub-header*/
	font-size: 16px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0px;
	text-align: center;
}

@media only screen and (max-width: 750px) {
	h3 {
		font-size: 14px;
	}
}

img{
	/*img styles*/
  width: 100%;
  heght: 100%;
}

.text{
	/*text boxes styles*/
	font-size: 16px;
	font-weight: normal;
	line-height: 2rem;
  text-decoration: none;
	text-align: center;
  font-weight: normal;
  font-kerning: normal;
	margin-top:0;
	padding-bottom: 15px;
}

.link {
	font-size: 16px;
	font-weight: normal;
	line-height: 2rem;
  text-decoration: none;
	text-align: left;
  font-weight: normal;
  font-kerning: normal;
	margin-top:0;
	padding-bottom: 20px;
}

@media only screen and (max-width: 750px) {
	.text {
		font-size: 16px;
		font-weight: normal;
		text-align: justify;
		line-height: 2rem;
		margin-bottom: 0rem;
	}
}

.link > a{
	/*all liinks within text*/
	color: #5FC9EC;
	font-weight: normal;
	text-decoration: none;
}

p.category{
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 300;
	text-align: left;
	margin-top: 0px;
	/* margin: 0;
	padding: 0; */
}


/*nav bar styles*/
