.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat 1fr;
  margin-top: 0px;
  padding: 0;
  gap: 30px;
  /* justify-content: space-between; */
}

/*container for individual video*/
.shop-item{
  width: 291px;
  height: 291px;
  position: relative;
  text-align: center;
  top: 0;
  margin-top: 0;
  padding-top: 0;
}

/*poster position*/
.cover {
  opacity: 1;
  display: block;
  width: 192;
  height: 291px;
  overflow: hidden;
}
/**/
.cover > img{
  height: 100%;
  width: 100%;
}


/*container for text*/
.top-layer {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;

  /*smooth transition on hover*/
    -moz-transition: all 0.4s ease-in-out 0s;
  	-webkit-transition: all 0.4s ease-in-out 0s;
  	-ms-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
}

/*position of title on top and centered*/
.text-reveal {
  opacity: 0;
  position: absolute;
  width: 100%; /*vertic keeps object centered*/
  height: ; /*increses size of the box, doesn't shift text*/
  /* background-color: yellow; */
  top: 75%;
  left: 0;
  margin-top: 0;
  text-align: center;

/*smooth transition on hover*/
  -moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
/*reveal title on hover*/
.shop-item:hover .text-reveal,
.shop-item.active .text-reveal {
  opacity: 1;
}
/*full container covered with dark overlay on hover*/
.shop-item:hover .top-layer{
  background-color: rgba(0, 0, 0, 0.5);
}
/* title text style*/
.title {
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;

  color: white;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-align: center;
  /* background-color: grey; */
  /* vertical-align: center; */
}
/*feature line text style*/
.feat {
  color: white;
  text-align: center;
  font-size: 10px;
  letter-spacing: .8px;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0;
  /* background-color: grey; */
}
